<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/base.css">
        <link rel="stylesheet" href="/css/dank-mono.css">
    </head>
    <body class='fixedsize'>
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="https://d3js.org/d3-selection-multi.v1.min.js"></script>
        <script type="module" src="/js/radar-chart.js" defer></script>
        {% include "components/navigation.njk" %}
        <div id='content'>
            {{ content | safe }}
        </div>
    </body>
</html>