

html {
    font-size: calc(0.25em + 1.25vmax);
}
  
body {
    background-color: hsla(110, 6%, 41%, 1);
    font-family: "dm";
    color: hsla(60, 21%, 89%, 1);
    padding-top: 6em;
    padding-bottom: 2em;
    margin: 0;
}

body#fixed {
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
}

body#scrollalble {
    width: 100vw;
    overflow: scroll;
}

body a {
    text-decoration: none;
    color: hsla(60, 21%, 89%, 1);
}

#about {
    text-align: center;
}

#about p {
    max-width: 800px;
    margin: 2em auto;
}

    
#heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 0;
}

#title {
    display: inline-block;
    margin: 0 auto;
    font-size: 2rem;
    text-align: center;
    flex: 0 0;
}

#subtitle {
    display: inline-block;
    margin: 0 auto;
    font-size: 1.5em;
    text-align: center;
    flex: 0 0;
}

radar-chart {
    margin-top: 2em;
    font-size: 0.8rem;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

radar-chart text {
    fill: hsla(60, 21%, 89%, 1);
}

radar-chart .level {
    stroke: hsla(42, 61%, 78%, 0.1);
    stroke-width: 1px;
}

radar-chart .axis {
    stroke: hsla(42, 61%, 78%, 0.25);
    stroke-width: 1px;
}

radar-chart .skillmap {
    stroke-width: 2px;
    stroke: hsla(42, 61%, 78%, 1);
    fill: hsla(42, 61%, 78%, 0.25);
}

@media all and (max-width: 1025px) and (orientation: landscape) {
    #content {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top: 0;
    }
    radar-chart {
        height: calc(100vh - 10em);
        width: calc(100vh - 10em);
        margin: 0 auto;
    }
}

@media all and (max-width: 1025px) and (orientation: portrait) {
    #content {
        justify-content: center;
        align-items: center;
    }
    radar-chart {
        height: calc(80vmin - 2em);
        width: calc(80vmin - 2em);
        margin: 0 auto;
    }
}



#social-links {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#social-links > svg {
    padding: 15px;
}

#social-links > svg path {
    fill: hsla(42, 61%, 78%, 1);
}

#navigation-header {
    background-color: hsla(110, 6%, 41%, 0.5);
    position: fixed;
    top: 0;
    width: 100%;
    height: 2em;
    padding-top: 2em;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 2em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
}

#navigation-header > a {
    float: left;
    margin-right: auto;
}

#navigation-header > nav > ul {
    display: flex;
}

#navigation-header > nav > ul > li {
    box-sizing: border-box;
    display: list-item;
    list-style: none;
    padding: 20px;
}

#navigation-header > nav > ul > li > a {
    box-sizing: border-box;
}

.resume-page {
    color: hsla(110, 6%, 41%, 1);
    font-size: 12px; /* TODO: Figure out what this actually should be */
    width: calc(100vw - 6em);
    height: calc((100vw - 6em) * 11/8.5);
    background: white;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.resume-page .column {
    width: 50%;
    height: 100%;
    padding: 4em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: start;
    overflow: auto;
}

#resume .resume-page .header {
    font-size: 1.5em;
    padding-bottom: 0.5em;
}

#resume .column .section {
    min-height: 20%;
}

#resume .column .section.technologies {
    padding: 2em;
    box-sizing: border-box;
}

#resume bar-chart {
    height: 100%;
    width: 100%;
    display: block;
    font-size: 0.8em;
    box-sizing: border-box;
}

#resume bar-chart svg {
    overflow: visible; /* hack...TODO: Remove */
}


#resume bar-chart .emptyDot {
    fill: hsla(110, 6%, 41%, 0.1);
}

#resume bar-chart .fullDot {
    fill: hsla(110, 6%, 41%, 1);
}

#resume bar-chart .skillText {
    fill: hsla(110, 6%, 41%, 1);
}

#resume bar-chart .domainText {
    fill: hsla(110, 6%, 41%, 1);
}

#resume event-timeline {
    height: 100%;
    width: 100%;
    display: block;
    font-size: 1.2em;
    box-sizing: border-box;
}

#resume event-timeline svg {
    padding: 0;
}

#resume event-timeline circle {
    stroke: hsla(110, 6%, 41%, 1);
    fill: white;
}

#resume event-timeline text {
    fill: hsla(110, 6%, 41%, 1);
}

#resume event-timeline line {
    stroke: hsla(110, 6%, 41%, 1);
}

#resume event-timeline .date {
    fill: hsla(110, 6%, 41%, 0.8);
}

#resume event-timeline .event {
    opacity: 1;
}

#resume event-timeline line {
    opacity: 1;
}